<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunchs.store.db.business.mapper.ShopImgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunchs.store.db.business.entity.ShopImg">
        <id column="img_id" property="imgId" />
        <result column="shop_id" property="shopId" />
        <result column="type" property="type" />
        <result column="path" property="path" />
        <result column="width" property="width" />
        <result column="height" property="height" />
        <result column="sort" property="sort" />
    </resultMap>

</mapper>
